{% extends "base.html" %}
{% load portfolio_tags %}


{% block title %} Lebenslauf {% endblock %}

{% block head %} {% endblock%}

{% block content %}

<div id="cv">
    <h1 class="with_sub">Maximilian Asam</h1>
    <div class="sub">Full Stack Developer</div>
    <hr>
    <div class="description">
        Hello World!
        Mein Name ist Maximilian und ich bin 22 Jahre alt.
        Ich programmiere seit ich 13 Jahre alt bin und es ist neben meiner Leidenschaft auch zu meinem Beruf geworden.
        Zusätzlich zu meiner Erfahrung in der Webentwicklung, arbeite ich auch an diversen anderen Projekten (z.B. im Bereich des native development).
    </div>
    <div class="stats">
        <div class="stat"><span class="material-icons">email</span> : <span class="desc">mail@example.com</span></div>
        <div class="stat"><span class="material-icons">place</span> : <span class="desc">86153 Augsburg, Deutschland</span></div>
        <div class="stat"><span class="material-icons">home</span> : <span class="desc">asam.dev</span></div>
    </div>


    <h2>Erfahrung</h2>
    <hr>
    <div class="experience">
        {% for data in experience %}
        {% include "spotlight.html" %}
        {% endfor %}
    </div>

    <h2>Bildung</h2>
    <hr>
    <div class="education">
        {% for data in education %}
        {% include "spotlight.html" %}
        {% endfor %}
    </div>


    <h2>Persönliches</h2>
    <hr>
    <table class="personal">
        {% for name, line in personal.items %}
        <tr>
            <td class="name">{{name}}</td>
            <td class="points">
                {{ line|join:', ' }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block infos%}

<div id="cvInfos">
    <h2>Skills</h2>
    <hr>
    <table class="skill_list">
        {% for skill in skills|dictsortreversed:"stars" %}
        <tr>
            <td class="skill">{{skill.name}}</td>
            <td class="stars">{% for star in skill.stars|stars %} <span class="material-icons star">{{star}}</span> {% endfor %} </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Frameworks</h2>
    <hr>
    <table class="fw_list">
        {% for framework in frameworks|dictsortreversed:"stars" %}
        <tr>
            <td class="framework">{{framework.name}}</td>
            <td class="stars">{% for star in framework.stars|stars %} <span class="material-icons star">{{star}}</span> {% endfor %} </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Sprachen</h2>
    <hr>
    <table class="lang_list">
        {% for language in languages|dictsortreversed:"stars" %}
        <tr>
            <td class="language">{{language.name}}</td>
            <td class="stars">{% for star in language.stars|stars %} <span class="material-icons star">{{star}}</span> {% endfor %} </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}